In [2]:
import pandas as pd

# 코드를 작성하세요.
names = ['Taylor Swift', 'Aaron Sorkin', 'Harry Potter', 'Ji-Sung Park']
birthdays = ['December 13, 1989', 'June 9, 1961', 'July 31, 1980', 'February 25, 1981']
occupations = ['Singer-songwriter', 'Screenwriter', 'Wizard', 'Footballer']

dict1 = {
    'name': names,
    'birthday': birthdays,
    'occupation': occupations
}

df = pd.DataFrame(dict1)

# 정답 출력
df

           name           birthday         occupation
0  Taylor Swift  December 13, 1989  Singer-songwriter
1  Aaron Sorkin       June 9, 1961       Screenwriter
2  Harry Potter      July 31, 1980             Wizard
3  Ji-Sung Park  February 25, 1981         Footballer